name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  linux-x64-gcc9:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: |
          sudo apt-get update
          sudo apt-get install -y gcc-9 libgomp1 make
          make CC=gcc-9 -B

  linux-arm64-gcc9:
    runs-on: ubuntu-24.04-arm
    steps:
      - uses: actions/checkout@v4
      - run: |
          sudo apt-get update
          sudo apt-get install -y gcc-9 libgomp1 make
          make CC=gcc-9 -B

  macos-x64:
    runs-on: macos-15-intel
    steps:
      - uses: actions/checkout@v4
      - run: |
          brew install llvm libomp
          export PATH="$(brew --prefix llvm)/bin:$PATH" # set brew llvm default
          gmake -B

  macos-arm64:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - run: |
          brew install llvm libomp
          export PATH="$(brew --prefix llvm)/bin:$PATH"
          gmake -B

